{% extends "layout.html" %}

{% block table %}
<section class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h3 class="h3" align="center">{{ word }}</h3>
            <div class="table-responsive" align="center">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th align="center">キラキラネーム</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for name in names %}
                    <tr>
                        <td align="center">
                            <ruby>
                                <rb>{{ name["name"] }}</rb>
                                <rp>（</rp>
                                <rt>{{ name["kana"] }}</rt>
                                <rp>）</rp>
                            </ruby>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</section>
{% endblock %}

{% block input %}
<section class="container">
        <form action="/" method="post">
            <div class="row" align="center">
                <div class="col-xs-4"></div>
                <div class="form-group col-xs-4">
                    <label for="word">キラキラネームの種</label>
                    <input type="text" class="form-control" id="word" name="word">
                </div>
                <div class="col-xs-4"></div>
            </div>
            <div class="row" align="center">
                <div>
                    <div class="col-xs-4"></div>
                    <button type="submit" class="btn btn-info col-xs-4">生成</button>
                    <div class="col-xs-4"></div>
                </div>
            </div>
        </form>
</section>
{% endblock %}
